.main-container{
    min-height: 80vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 4px blue;
    border-radius: 10px;
    padding: 15px;
}

.container-wrapper{
    border: solid 4px blue;
    padding: 10px;
    border-radius: 10px;
    width: 98%;
    margin-top: 10vh;
    /* width:97%; */
    /* position: fixed; */ 
}

h3 {
    margin-top:25px;
    margin-bottom: 10px;
}